.webstudio-logo {
    display: block;
    line-height: 1.166;
    font-family: $accent-font-family;
    font-size: 2.4rem;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.03rem;
    text-decoration: none;
    &__prefix {
        color: $font-accent-color;
    }
    &--mr {
        @media screen and (min-width: 48rem) {
            margin-right: 8.8rem;
        }
    }
    &--light {
        color: $font-light-color;
    }
    &--dark {
        color: $font-accent-secondary-color;
    }
    &__head {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    &--mb {
        margin-bottom: 2rem;
    }
}